.col-md-12
  .row
    .col-md-4
    .col-md-4
      %h1.text-center
        Translations
    .col-md-4.text-right
      = link_to simple_translation_engine.new_translation_path do
        Add Key
  .row
    %table.table
      %tr
        %th Key
        - @locales.each do |locale|
          %th= locale.name
        %th.text-center Delete
      - @translation_keys.each do |translation_key|
        %tr
          %td= translation_key.name
          - @locales.each do |locale|
            %td
              - current_translation = translation_key.translation(locale)
              - if current_translation and not current_translation.value.blank?
                = link_to current_translation.value.truncate(50), simple_translation_engine.edit_translation_path(current_translation.id)
              - else
                - path = (current_translation && current_translation.value.blank?) ? simple_translation_engine.edit_translation_path(current_translation.id) : simple_translation_engine.new_translation_path(key: translation_key.name, key_locale: locale.name.to_s)
                = link_to "Add", path
          %td.text-center
            =button_to 'Delete', simple_translation_engine.translation_key_path(translation_key), {method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?  This action cannot be undone!"}}
  .row
    -I18n.available_locales.each do |loc|
      =simple_form_for :upload_locale,
        url: simple_translation_engine.upload_locale_translations_path,
        html: {class: 'form-horizontal', multipart: true, method: :post },
        authenticity_token: true do |f|
        .col-sm-6.text-center
          .panel.panel-primary
            .panel-heading
              %h4="Load Locale #{loc.to_s.upcase} from File"
            .panel-body
              =f.input "file", required:true, label: false, :as => :file
              =f.input "locale", as: :hidden, input_html: {value: loc}
            .panel-footer
              =f.submit "Upload", class: "btn btn-primary"

:javascript
  $('div.container div.row:nth-of-type(2) div:nth-of-type(3)').width('auto');
